<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329811445996-1gnfcunfbrmenh19d0nbqvjteuavdiai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329811445996-1gnfcunfbrmenh19d0nbqvjteuavdiai</string>
	<key>API_KEY</key>
	<string>AIzaSyAxKh5r1w9FXiTpm0HIjO3B9xqjOaao-zY</string>
	<key>GCM_SENDER_ID</key>
	<string>329811445996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RickSunworkTW.RickM-</string>
	<key>PROJECT_ID</key>
	<string>mp-rick</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-rick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329811445996:ios:c289d8c67b59eb4ff5fdc9</string>
	<key>DATABASE_URL</key>
	<string>https://mp-rick.firebaseio.com</string>
</dict>
</plist>